[*.{cs,vb}]

# IDE0054: Usar a atribuição composta
dotnet_diagnostic.IDE0054.severity = none

# IDE0041: Usar verificação 'is null'
dotnet_diagnostic.IDE0041.severity = none

# IDE1006: Estilos de Nomenclatura
dotnet_diagnostic.IDE1006.severity = none
